<%=render('partials/nav') %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-6 col-md-6">
        <%=render('partials/alert') %>
      </div>
        <div class="col-md-6"><br>
          <div class="panel panel-default panel-body">
            <div class="panel-content">
              <h1>Login</h1>
              <p></p>
              <%=form_for(:user,url:user_login_path) do |f| %>
                  <div class="input-group">
                    <label>Email:</label>
                    <input type="email" name="email" class="form-control">
                  </div>
                  <div class="input-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control">
                  </div>
                  <div class="input-group text-center"><br>
                    <button class="btn btn-primary">Login</button>

                  </div>
              <% end %>
              <br>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <br>
          <%= image_tag('book.jpg', :class => 'img-responsive', :style => 'max-height: 300px')%>
        </div>

    </div>
</div>
<div class="col-md-12" style="height: 100px;background-color: #fcfcfc;border:1px solid rgba(128, 128, 128, 0.35)" >

</div>