<%=render('partials/nav') %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-6 col-md-6">
      <%=render('partials/alert') %>
    </div>
    <h1>Home</h1>
    </div>
</div>

